/* :root{ /*hace referencia a la raiz html
    --primary-color:#003476;
    --secondary-color: blue;
    --header-size:4rem;
    --font:1.8rem;
    } */
*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
html{
    font-size:62.5%;
}
img{
    position:absolute;
    width:19.4%;
    height:auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
input{
    position:absolute;
    width:78%;
    top:35%;
    left: 50%;
    transform: translateX(-50%);
    border-color: #F8F9FA;
    height: 5.2rem;
    border-radius: 20%;
    background-image: url(https://i.imgur.com/WniX5Dr.png);
    background-position: 13.5px 17px;
    background-size: 1.7rem;
    background-repeat: no-repeat;
    padding-left:4.1rem;
}
button{
   margin: 1.1rem 0.4rem;
   padding: 1rem 2.2rem;
   font-family: arial,sans-serif;
   background-color: #F8F9FA;
   border: 0px;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;/*50% de la altura de la pantalla*/
}

.main-nav{
    display:flex;
    justify-content: flex-end;
    margin-top:2rem;
    list-style: none;
    padding-right:10rem;
    }
    /* .main-nav__item{
        display: inline-block;
    } */
    .main-nav__item a{
        color: black;
        padding: 5px;
        border-radius: 2px;
        text-decoration: none;
        font-family: arial,sans-serif;
        font-size:1.2rem;
    }
    .main-nav__item a:hover{
        color: rgb(0, 225, 255);
        }
    